.landmark-list {
  display: grid;
  column-gap: 20px;
  row-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 450px));
  margin-top: 50px;
  justify-content: space-between;
  padding-bottom: 30px;
}

@media (min-width: 500px) and (max-width: 768px) {
  .landmark-list {
    grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
    width: 70%;
  }
}

@media (max-width: 499px) {
  .landmark-list {
    grid-template-columns: 1fr;
  }
}
