.landmark {
  list-style-type: none;
  background: var(--accent-color);
  width: 100%;
  box-sizing: border-box;
  padding: 12px 20px;
  border-radius: 15px;
  cursor: pointer;
  background-color: white;
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 0px 16px,
    rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 2px;
  border: 4px solid transparent;
}
.landmark:hover {
  border-color: rgba(255, 99, 71, 100%);
}

.landmark-title {
  margin: 0;
  color: var(--primary-color);
  text-align: center;
  font-size: 1.4em;
  font-weight: 550;
  padding: 0 5px 5px 5px;
  color: rgba(255, 99, 71, 100%);
  letter-spacing: 1px;
}
.landmark-photo {
  height: 150px;
  width: 150px;
  border-radius: 15px;
  position: relative;
  top: 15px;
  float: left;
  margin: 5px 15px 4px 0;
}

.landmark-info {
  text-align: left;
  line-height: 25px;
}

/* .landmark-location { */
/*   padding: 10px 20px 20px 20px; */
/* } */
/* .landmark-location::before { */
/*   content: url("/assets/location-pin.svg") / ""; */
/* } */

/* section.landmark a { */
/*   padding-left: 20px; */
/*   text-decoration: none; */
/*   color: var(--primary-color); */
/* } */
/* section.landmark a::after { */
/*   content: "\203A"; */
/*   margin-left: 5px; */
/* } */
