.landmark {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
  max-width: 1500px;
  gap: 60px 100px;
  margin: auto;
}

.landmark.Edit {
  grid-template-columns: max-content 1fr;
  align-items: start;
}

.right-panel {
  display: flex;
  flex-flow: column nowrap;
  gap: 50px;
  text-align: left;
}

label {
  letter-spacing: 1.5px;
  font-size: 1.4em;
  text-transform: capitalize;
  font-weight: 600;
}

label::after {
  content: ":";
  font-weight: 600;
  font-size: 1.4em;
  margin-left: 5px;
}

input, textarea {
  box-sizing: border-box;
  padding: 12px 20px;
  border-radius: 7px;
  cursor: pointer;
  background-color: white;
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 0px 16px,
    rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 2px;
  text-align: center;
}

textarea {
  overflow: auto;
  min-height: 150px;
}

.Edit > #short_info, .Edit > #description {
  min-height: 400px;
}

a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: relative;
  grid-column: 1 / span 2;
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;
  justify-content: end;
}

header button {
  width: 150px;
  height: 50px;
  background-color: rgba(255, 99, 71, 80%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 12px;
}

header button:hover, header button:focus {
  background-color: rgba(255, 99, 71, 100%);
}

figcaption a {
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  color: rgba(255, 99, 71, 100%);
  font-size: 1.2em;
  letter-spacing: 1.5px;
}
figcaption a:hover, figcaption a:focus {
  color: red;
}

img {
  display: block;
  border-radius: 15px;
  object-fit: contain;
}

h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1.5px;
  font-size: 1.4em;
  color: rgba(255, 99, 71, 100%);
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
  width: max-content;
}

.text {
  font-size: 1.1em;
  font-family: Roboto;
  letter-spacing: 1px;
  word-spacing: 5px;
  white-space: wrap;
  font-weight: 450;
  line-height: 30px;
  overflow-wrap: anywhere;
}
